[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
github2pandas = {ref = "main", git = "https://github.com/TUBAF-IFI-DiPiT/github2pandas.git", editable = true}
pyyaml = "*"

[dev-packages]
github2pandas_manager = {editable = true, path = "."}

[requires]
python_version = "3.9"
