[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
github2pandas = "*"

[dev-packages]
github2pandas_manager = {editable = true, path = "."}

[requires]
python_version = "3.9"
