name: Run examples in current version

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  run_examples:
    runs-on: ubuntu-latest
    steps:

      - name: Check out current repository
        uses: actions/checkout@v2
        with:
            path: src
  
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
            python-version: 3.9
            #cache: 'pipenv'

      - name: Install pip
        run: |
            python -m pip install --upgrade pip
            pip install pipenv

      - name: Install dependencies
        run: |
            cd src
            pipenv install
            pipenv install -e .

      - name: Run generation
        env:
             TOKEN: ${{ secrets.TOKEN }}
        run: |
            cd src
            pipenv run python github2pandas_manager/__main__.py -path ./examples/ProjectsByRepoNames.yml
