name: Run examples in current release

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  extract_github_activities:
    runs-on: ubuntu-latest
    steps:
      - name: Install pip
        run: |
             python -m pip install --upgrade pip
             pip install pipenv

      - name: Install dependencies
        run: |
             pipenv install

      - name: Run generation
        env:
             TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
             pipenv run python3 -m github2pandas_manager -path ./example/ProjectsByRepoNamePatterns.yml